services:
  oracle:
    container_name: oracle
    image: container-registry.oracle.com/database/express:21.3.0-xe
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${ORACLE_PORT}:1521"
    volumes:
      - data:/opt/oracle/oradata
    healthcheck:
      test: ["CMD", "lsnrctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 2m

volumes:
  data:
# XE instance name