# Arquivos de configuração sensíveis
.env
.env*

# Diretórios e arquivos do Docker
*.log

# Ignorar diretórios e ambientes locais
.venv/
**/.venv/
.vagrant/**
**/.vagrant/

kubespray/
**/kubespray/

# Terraform
.terraform/
**/.terraform/
.terraform.lock.hcl

# Arquivos temporários do sistema
*.tmp
*.swp
.DS_Store
Thumbs.db
*.zip
*.tar.gz