# Arquivos de configuração sensíveis
.env
.env_*

# Diretórios e arquivos do Docker
*.log

# Ignorar diretórios e ambientes locais
.venv/
**/.venv/
.vagrant/**
**/.vagrant/
kubespray/
**/kubespray/

# Arquivos temporários do sistema
*.tmp
*.swp
.DS_Store
Thumbs.db
*.zip